/* @font-face {
    font-family: 'Dot Matrix';
    src: url('DotMatrix.woff2') format('woff2'),
        url('DotMatrix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dot Matrix';
    src: url('DotMatrixBold.woff2') format('woff2'),
        url('DotMatrixBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Enhanced Dot Digital-7';
    src: url('EnhancedDotDigital-7.woff2') format('woff2'),
        url('EnhancedDotDigital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LED Counter 7';
    src: url('LEDCounter7.woff2') format('woff2'),
        url('LEDCounter7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LED Counter 7';
    src: url('LEDCounter7-Italic.woff2') format('woff2'),
        url('LEDCounter7-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
} */

@font-face {
    font-family: 'Dot Digital-7';
    src: url('DotDigital-7.woff2') format('woff2'),
        url('DotDigital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* 
@font-face {
    font-family: 'Astronaut';
    src: url('Astronaut.woff2') format('woff2'),
        url('Astronaut.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astronaut II';
    src: url('AstronautII.woff2') format('woff2'),
        url('AstronautII.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Pixel';
    src: url('PublicPixel-0W5Kv.eot');
    src: url('PublicPixel-0W5Kv.eot?#iefix') format('embedded-opentype'),
         url('PublicPixel-0W5Kv.woff2') format('woff2'),
         url('PublicPixel-0W5Kv.ttf')  format('truetype');
} */