@mixin full-page {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    // font-family: $sans-serif;
    padding: 0;
    margin: 0;
    font-family: $accent-font;
    font-weight: $light;
    color: $txt-primary;
    -webkit-text-size-adjust: 100%;
    background-color: #accbde;
  }

  @function glowText($glowColor) {
    @return 0 0 20px $glowColor, 0 0 40px $glowColor, 0 0 60px $glowColor,
      0 0 80px $glowColor, 0 0 100px $glowColor, 0 0 120px $glowColor,
      0 0 140px $glowColor, 0 0 160px $glowColor;
  }
  