
* {
    transform-style: preserve-3d;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .header-content * {
    transform-style: flat;
  }
  
  html,
  body,
  div#root {
    @include full-page;
  }
  
  section {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .maincontent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
  
    & > * {
      grid-column: 1;
      padding: 2rem;
      background-color: white;
      align-self: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }
  
  section .rainbow {
    height: 5px;
    background-image: $rainbow-gradient;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  .typewriter__contianer {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $txt-secondary;
    position: relative;
    z-index: 0;
  }
  
  .typewriter__prompt {
    font-weight: $bold;
    vertical-align: middle;
    line-height: 4rem;
    padding: 0.5rem;
    color: $txt-primary;
  }
  
  .typewriter__text {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-family: monospace;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-family: "Dot Digital-7", "LED Counter 7";
    align-self: center;
    width: 80%;
    color: $txt-secondary;
    letter-spacing: 0.1rem;
    position: relative;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1rem;
    border-radius: 100vw;
    background-color: $txt-accent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    text-shadow: 0 0 5px rgb($txt-secondary, 50%), 0 0 2px rgb($txt-secondary, 50%);
  }
  
  .typewriter__text::before {
    position: absolute;
    content: '';
    top: -3px; 
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    z-index: -200;
    // transform: translateZ(-1px);
    background-image: $rainbow-gradient;
    background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    border-radius: 4em;
  }
  
  .flex-across {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .maincontent {
      padding-top: 2rem;
      grid-template-columns: 1fr 4fr 1fr;
    
      & > * {
        border-radius: 3rem;
        grid-column: 2;
        padding: 5rem;
      }
    }
  
    .flex-across {
      flex-direction: row;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  
  
    .typewriter__prompt {
      font-weight: $bold;
      vertical-align: middle;
      line-height: 4rem;
      padding-left: 0.5rem;
      color: $txt-primary;
    }
  
    .typewriter__text {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      align-self: center;
      width: 60%;
      color: $txt-secondary;
      line-height: 4rem;
      min-width: max-content;
      letter-spacing: 0.1rem;
      // border: 2px solid rgba(9, 255, 0, 0.301);
      position: relative;
      font-size: 3rem;
      padding: 1rem 2rem;
      border-radius: 4rem;
    }
  }
  
  .typewriter__cursor {
    animation: blinkCursor 700ms ease-in-out infinite;
  }
  
  @keyframes blinkCursor {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }